<div class="form-group">
    <div class="form-fields">
        <div class="col-xs col-sm col-md col-lg">
            <label for="aspect-label-value">{{data.localization.label}}</label>
            <input id="aspect-label-value" value="{{data.label}}">
        </div>
    </div>
    <div class="form-fields">
        <div class="col-xs col-sm col-md col-lg">
            <label for="aspect-name-value">{{data.localization.name}}</label>
            <input id="aspect-name-value" value="{{data.name}}">
        </div>
    </div>
    <div class="form-fields">
        <div class="col-xs col-sm col-md col-lg">
            <label for="aspect-description-value">{{data.localization.description}}</label>
            <textarea id="aspect-description-value" cols="3">
                {{data.description}}
            </textarea>
        </div>
    </div>
</div>


