<div class="form-group">
    <label for="{{fieldName}}" class="form-label">
        <span>{{localize headline}}</span>
        {{#if help}}<span>{{localize help}}</span>{{/if}}

        <input
                class="form-input"
                type="text"
                name="{{fieldName}}"
                value="{{field}}"
            {{#if placeholder }}placeholder="{{ localize placeholder}}" {{/if}}
            {{#if dtype }}data-dtype="{{ dtype }}"{{/if}}
        />
    </label>
</div>